*.mp4
*.pt
*.pkl
*.jpg
.env
AIinterview/__pycache__
resultsUI/__pycache__
media/*
resultsUI/migrations/__pycache__
__pycache__/
*.pyc
*.pth
*.md


resultsUI/migrations

resultsUI/results/demo/unified_frame_images/03_bimodal_resnet/
resultsUI/checkpoints/OpenGprahAU-ResNet50_second_stage.pth
resultsUI/OpenGraphAU/checkpoints/resnet18-5c106cde.pth
resultsUI/OpenGraphAU/checkpoints/resnet34-333f7ec4.pth
resultsUI/OpenGraphAU/checkpoints/resnet50-19c8e357.pth
resultsUI/OpenGraphAU/checkpoints/resnet101-5d3b4d8f.pth
resultsUI/OpenGraphAU/checkpoints/resnet152-b121ed2d.pth
resultsUI/OpenGraphAU/checkpoints/download.py
resultsUI/OpenGraphAU/model/__pycache__
resultsUI/OpenGraphAU/__pycache__
resultsUI/resources/__pycache__
resultsUI/script/__pycache__
resultsUI/dpcv/__pycache__
resultsUI/dpcv/checkpoint/__pycache__
resultsUI/dpcv/config/__pycache__
resultsUI/dpcv/data/__pycache__
resultsUI/dpcv/data/datasets/__pycache__
resultsUI/dpcv/data/transforms/__pycache__
resultsUI/dpcv/data/utils/__pycache__
resultsUI/dpcv/engine/__pycache__
resultsUI/dpcv/evaluation/__pycache__
resultsUI/dpcv/experiment/__pycache__
resultsUI/dpcv/faceTracker/__pycache__
resultsUI/dpcv/modeling/__pycache__
resultsUI/dpcv/modeling/loss/__pycache__
resultsUI/dpcv/modeling/module/__pycache__
resultsUI/dpcv/modeling/module/tpn/__pycache__
resultsUI/dpcv/modeling/networks/__pycache__
resultsUI/dpcv/modeling/solver/__pycache__
resultsUI/dpcv/tools/__pycache__
resultsUI/VideoLLaVA/cache_dir
resultsUI/cache_dir



